*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 45px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
   
}

ul{
    gap: 30px;
    margin-left: 12px;
     display: flex;
     padding: 12px;
}
.navbar ul li{
    list-style: none;
    
}

.navbar ul li:hover{
    color: grey;
}


.countries{
    margin-top: 12px;
    width: 50%;
    float: left;
    /* background-color: bisque; */
}

ol li{
    margin-left: 50px;
    font-size: larger;
    margin-top: 10%;
}

.left {
    margin-top: 12px;
    width: 50%;
    /* background-color: rgb(162, 141, 141); */
    height: 300px;
    float: left;
    /* overflow: hidden; */
}

table,
th,
td {
    
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 35px;
}

tr > td > img{
    width: 100%;
    object-fit: cover;

}
a{
    color: white;
    text-decoration: none;
}